/* Navbar styles */
.clientNavbar .nav-button {
  background-color: rgba(0, 0, 150, 0.5);
  color: white;
  transition: all 0.6s ease-out;
}

.clientNavbar .nav-button:hover {
  background-color: rgba(125, 125, 125, 0.8);
}

.clientNavbar .nav-button:active {
  background-color: rgb(15, 15, 255, 1);
}

.clientNavbar .nav-button.active {
  background-color: rgba(0, 0, 150, 1);
  color: white;
}




/* Modal Styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.modal-content h2 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  color: #333;
  text-align: center;
}

.modal-content label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #495057;
}

.modal-content input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  transition: border-color 0.2s;
}

.modal-content input:focus {
  border-color: #007bff;
  outline: none;
}

.input-error {
  border-color: #dc3545 !important; /* Red border for validation error */
}

.error-message {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: -0.75rem;
  margin-bottom: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 0.75rem 3.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-actions button:first-child {
  background-color: #28a745;
  color: white;
}

.modal-actions button:last-child {
  background-color: #dc3545;
  color: white;
}

.modal-actions button:first-child:hover {
  background-color: #218838;
}

.modal-actions button:last-child:hover {
  background-color: #c82333;
}




.top-queries li {
  background-color: #e0f7fa;  
  transition: background-color 0.3s;
}

.top-queries li:hover {
  background-color: #b2ebf2; /* Darker shade on hover */
}























.settings-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.settings-container .settings-section {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1em;
  margin: 1em !important;
}


.settings-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.settings-container button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.settings-container button:hover {
  background-color: #0056b3;
}

.settings-container .notification-label {
  display: flex; 
  align-items: center;
}

.settings-container .data-action {
  margin-right: 10px;
  margin-top: 10px;
}

.settings-container .delete-data {
  background-color: #dc3545;
}

.settings-container .delete-data:hover {
  background-color: #c82333;
}

.settings-container .status-message {
  margin-top: 10px;
  color: green;
  font-size: 14px;
}

.settings-container .status-message.delete {
  color: red;
}





/* For User Feadback */
.feedback {
  width: 100%;
}

.feedback header {
  text-align: center;
  margin-bottom: 20px;
}


.feedback .feedback-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em 1.5em;
}

.feedback  .feedback-list {
  padding-left: 0;
  list-style: none;
}

.feedback .feedback-list li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.feedback  button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.feedback  button:hover {
  background-color: #0056b3;
}
